body {
  min-width: 1200px;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -68px;
}

.main-nav ul {
  width: 1056px;
  margin: 0 auto;
  list-style: none;
  font-size: 0;
}

.main-nav li {
  display: inline-block;
  width: 128px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-align: left;
}

.main-nav li:first-child {
  margin-right: 112px;
}

.main-nav li:nth-child(2) {
  margin-right: 360px;
}

.main-nav li:nth-child(3) {
  margin-right: 72px;
}

.main-nav li:last-child {
  text-align: right;
}

.main-nav a {
  text-decoration: none;
  color: black;
}
