body {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 30px -10px black;
  font-family: PT Sans, Arial, sans-serif;
  position: relative;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  z-index: 1000;
  left: 50%;
  margin-left: -68px;
}

.main-nav ul {
  width: 1056px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-nav li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 240px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-align: left;
}

.main-nav li:nth-child(2) {
  margin-right: 96px;
}

.main-nav li:nth-child(3),
.main-nav li:last-child {
  text-align: right;
}

.main-nav a {
  text-decoration: none;
  color: black;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0,0,0,0.3);
}

.landscape-block {
  position: relative;
  width: 1200px;
  height: 508px;
  background: url(../img/landscape.jpg) no-repeat center;
  margin-bottom: 62px;
}

.landscape-block::after {
  content: "";
  position: absolute;
  top: 452px;
  width: 1200px;
  height: 57px;
  background: url(../img/landscape-footer.png) no-repeat center;
}

.phrase-first-part {
  position: absolute;
  left: 506px;
  top: 76px;
  display: block;
  width: 188px;
  height: 45px;
  background: url(../img/welcome.png) no-repeat center;
  font-size: 0;
}

.phrase-second-part {
  position: absolute;
  left: 472px;
  top: 133px;
  display: block;
  width: 256px;
  height: 30px;
  background: url(../img/to-the-gorgeous.png) no-repeat center;
  font-size: 0;
}

.landscape-name {
  position: absolute;
  left: 371px;
  top: 215px;
  width: 458px;
  height: 78px;
  background: url(../img/sedona.png) no-repeat center;
  font-size: 0;
}

.slogan {
  position: absolute;
  left: 452px;
  top: 349px;
  width: 296px;
  height: 80px;
  background: url(../img/slogan.png) no-repeat center;
  font-size: 0;
}

.place-discr {
  width: 455px;
  margin: 0;
  margin-left: 380px;
  margin-bottom: 26px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.start-of-description {
  width: 493px;
  margin: 0;
  margin-left: 360px;
  margin-bottom: 50px;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.advantages {
  font-size: 0;
  margin-bottom: 53px;
}

.advantages-item {
  width: 400px;
  display: inline-block;
  vertical-align: middle;
  background-color: #eeeeee;
  min-height: 256px;
}

.advantages-item:first-child,
.advantages-item:nth-child(2) {
  width: 1200px;
}

.advantages-item-wrapper {
  display: inline-block;
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  vertical-align: top;
  color: #ffffff;
}

.advantages-item-title {
  width: 160px;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-number {
  position: relative;
  width: 50px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.advantages-item-number::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 8px;
  height: 1px;
  background-color: #333333;
}

.advantages-item-number::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 40px;
  width: 8px;
  height: 1px;
  background-color: #333333;
}

.first-number::before {
  background-color: white;
}

.first-number::after {
  background-color: white;
}

.second-number::before {
  background-color: white;
}

.second-number::after {
  background-color: white;
}

.advantages-item-description {
  width: 290px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 57px;
  text-transform: uppercase;
}

.another-color {
  color: #ffffff;
}

.advantages-item-pic {
  display: inline-block;
  vertical-align: top;
}

.recomendation {
  position: relative;
  display: inline-block;
  width: 400px;
  min-height: 330px;
  background-color: #ffffff;
}

.apartment::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background: url(../img/apartment.png) no-repeat center;
}

.food::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 163px;
  width: 74px;
  height: 70px;
  background: url(../img/food.png) no-repeat center;
}

.gift::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 168px;
  width: 64px;
  height: 76px;
  background: url(../img/gift.png) no-repeat center;
}

.recomendation h2 {
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.recomendation p {
  width: 285px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.question {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.offer {
  width: 445px;
  margin: 0 auto;
  margin-bottom: 45px;
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.show-form {
  margin-left: 315px;
  width: 568px;
  padding: 32px 100px 27px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  background-color: #766357;
}

.show-form:hover {
  background-color: #604e43;
}

.show-form:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.main-footer {
  position: relative;
}

.footer-wrapper {
  position: absolute;
  z-index: 100;
  top: 473px;
  font-size: 0;
  background-color: #fdfdfd;
  width: 1200px;
  opacity: 0.9;
  vertical-align: top;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.map {
  height: 593px;
}

.interactive-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.tag {
  float: left;
  width: 240px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 46px;
  margin-left: 80px;
  margin-right: 205px;
}

.social-box {
  float: left;
  width: 150px;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-right: 214px;
  margin-bottom: 36px;
  font-size: 0;
  vertical-align: top;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-tw i {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 17px;
  height: 15px;
  background: url(../img/twitter.png) no-repeat center;
}

.social-fb i {
  position: absolute;
  top: 13px;
  left: 18px;
  width: 10px;
  height: 19px;
  background: url(../img/fb.png) no-repeat center;
}

.social-tw:active i {
  opacity: 0.3;
}

.social-fb:active i {
  opacity: 0.3;
}

.social-yt:active i {
  opacity: 0.3;
}

.social-yt i {
  content: "";
  position: absolute;
  top: 16px;
  left: 13px;
  width: 20px;
  height: 16px;
  background: url(../img/youtube.png) no-repeat center;
}


.social-btn:last-child {
  margin-right: 0;
}

.creators {
  float: left;
  width: 240px;
  font-size: 0;
  margin-top: 40px;
}

.creators span {
  display: inline-block;
  font-size: 14px;
  line-height: 39px;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 8px;
  vertical-align: bottom;
}

.creators a {
  font-size: 0;
  display: inline-block;
  width: 113px;
  height: 39px;
  background: url(../img/html-acad.png) no-repeat center;
  line-height: 39px;
}

.creators a:hover {
  background: url(../img/html-acad-hover.png) no-repeat center;
}

.creators a:active {
  background: url(../img/html-acad-active.png) no-repeat center;
}

.modal-box {
  display: none;
  position: absolute;
  bottom: 193px;
  left: 315px;
  box-sizing: border-box;
  width: 568px;
  background-color: #ffffff;
  padding: 55px;
  font-size: 0;
  box-shadow: 0 3px 20px -7px black;
  z-index: 2000;
}

.modal-box form {
  font-family: PT Sans, Arial, sans-serif;
}

.modal-box-show {
  display: block;
  animation-name: moving;
  animation-duration: 1s;
}

.modal-box label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.check-in {
  position: relative;
}

.check-in input {
  position: relative;
  box-sizing: border-box;
  width: 346px;
  padding: 12px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  margin-left: 22px;
  margin-bottom: 22px;
}

.check-out {
  position: relative;
}

.check-out input {
  position: relative;
  box-sizing: border-box;
  width: 346px;
  padding: 12px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  margin-left: 18px;
  margin-bottom: 26px;
}

.calendar-input {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 21px;
  height: 22px;
  background: url(../img/calendar.png) no-repeat center;
}

.calendar-output {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 21px;
  height: 22px;
  background: url(../img/calendar.png) no-repeat center;
}

.calendar-input:hover,
.calendar-output:hover {
  background: url(../img/calendar-hover.png) no-repeat center;
}

.calendar-input:active,
.calendar-output:active {
  background: url(../img/calendar-active.png) no-repeat center;
}

.adults input,
.kids input {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 12px 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.modal-box input:hover {
  background-color: #ebebeb;
}

.modal-box input:focus {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.check-in input:focus,
.check-out input:focus {
  padding: 10px;
}

.adults input:focus,
.kids input:focus {
  padding: 10px 13px;
}

.minus-btn,
.plus-btn {
  position: relative;
  width: 38px;
  height: 38px;
  margin: 0;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  text-indent: -9999px;
  cursor: pointer;
  vertical-align: top;
}

.minus-btn::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  width: 12px;
  height: 3px;
  background: url(../img/minus.png) no-repeat center;
}

.minus-btn:hover::before {
  background: url(../img/minus-hover.png) no-repeat center;
}

.minus-btn:active::before {
  background: url(../img/minus-active.png) no-repeat center;
}

.plus-btn:hover::before {
  background: url(../img/plus-hover.png) no-repeat center;
}

.plus-btn:active::before {
  background: url(../img/plus-active.png) no-repeat center;
}

.plus-btn::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 13px;
  width: 11px;
  height: 11px;
  background: url(../img/plus.png) no-repeat center;
}

.adults,
.kids {
  display: inline-block;
  vertical-align: middle;
}

.adults label {
  margin-right: 39px;
}

.adults {
  margin-right: 56px;
}

.kids label {
  margin-right: 25px;
}

.find-hotel {
  box-sizing: border-box;
  width: 458px;
  padding: 17px 150px;
  background-color: #81b3d2;
  margin-top: 54px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.find-hotel:hover {
  background-color: #669ec0;
}

.find-hotel:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 0 5px -2px black;
}

@keyframes moving {
  0% {
    transform: translateY(500px);
  }

  100% {
    transform: translateY(0);
  }
}

.main-nav .current-menu-item,
.main-nav .current-menu-item:hover,
.main-nav .current-menu-item:active {
  color: #766357;
  cursor: default;
}

.filter-block {
  box-sizing: border-box;
  min-height: 217px;
  width: 1200px;
  padding: 0 73px;
  background: url(../img/filter-background.jpg) no-repeat 0 -60px;
  color: #ffffff;
}

.filter-block h2 {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-top: 30px;
}

.filter-item label {
  position: relative;
  padding-left: 40px;
}

.filter-item label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: url("../img/empty-box.png") no-repeat center;
}

 .filter-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 22px;
  background: url("../img/checked-box.png") no-repeat center;
}

.filter-infrastructure {
  float: left;
  width: 241px;
}

.filter-type-of-hotel {
  float: left;
  width: 288px;
}

.filter-price-per-day {
  float: right;
  width: 328px;
}
